#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
}

.rbc-toolbar-label {
  font-size: 3rem;
}

.rbc-calendar {
  margin: 0;
}

.AIF-container {
  border-width: 10px;
  border-color: black;
}
