#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: whitesmoke !important;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.exit-btn {
  display: flex;
  padding: 0.2rem !important;
  align-self: center;
  font-size: 12px;
  background-color: rgb(224, 129, 113);
}

#delete-task {
  background-color: #8fc362;
  padding: 2px;
  font-size: 14px;
}

#update-task {
  background-color: #ca2ca8;
  padding: 2px;
  font-size: 12px;
}

.rbc-date-cell {
  height: 1.7rem;
}

.submit-event {
  padding: 0.2rem !important;
  font-size: 14px;
  background-color: rgb(113, 172, 224);
}
span {
  font-size: 13px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;
  min-width: 90rem;
}

.rbc-label {
  color: grey;
}

h1 {
  color: grey;
}
.rbc-toolbar-label {
  font-size: 3rem;
  color: grey;
  margin-left: 6rem;
}

.rbc-toolbar {
  padding: 1rem;
  min-width: 90rem;
  background-color: whitesmoke;
}

.rbc-month-view {
  padding: 1rem !important;
  min-width: 90rem;
  min-height: 64rem;
  border-radius: 10px;
  background-color: pink;
}

.rbc-month-view {
  padding: 1rem !important;
  min-width: 90rem;
  min-height: 64rem;
  border-radius: 10px;
  background-color: pink;
}

.rbc-time-view {
  padding: 1rem !important;
  min-width: 90rem;
  min-height: 64rem;
  border-radius: 10px;
  background-color: pink;
}

.rbc-events-container {
  background-color: whitesmoke;
  margin: 0 !important;
  border-radius: 10px !important;
}

.rbc-now {
  margin: 0 !important;
  padding: 0 !important;
}

.rbc-month-row {
  min-height: 10rem !important;
  max-height: 10rem !important;
}
.rbc.row.bg {
  min-height: 50rem !important;
}

.calendarbackground {
  background-color: rgb(193, 246, 246);
  border-radius: 10px;
  padding: 0.25rem;
  margin: 1rem;
  min-width: 80rem !important;
  min-height: 72.3rem !important;
  z-index: -10 !important;
  position: absolute;
}

.rbc-day-bg {
  border-radius: 10px;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: whitesmoke;
}

.rbc-button-link {
  padding: 0.5rem;
  color: grey !important;
  z-index: 0;
}

.rbc-today {
  border-radius: 10px;
  border-color: lightgray;
  border-style: solid;
  background-color: rgb(207, 228, 247);
  border-width: 2px;
  padding: 0.2rem;
  margin: 0.2rem;
}

.rbc-off-range-bg {
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.2rem;
}

.rbc-header {
  border-radius: 10px;
  background-color: whitesmoke;
  color: grey;
  margin: 3px !important;
  display: flex;
  align-items: center;
}

a {
  color: grey !important;
  font-size: 20px;
  font-weight: bold !important;
  padding: 0.5rem;
}

a:hover {
  color: rgb(0, 142, 237) !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AIF-container {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 1rem;
  margin: 0.5rem;
  width: 40rem;
  padding-left: 1.8rem;
}

.quote-container1 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 1rem;
  margin: 0.5rem;
  width: 40rem;
  padding-left: 1.8rem;
  color: grey;
}

.quote-container2 {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 1rem;
  margin: 0.5rem;
  width: 40rem;
  padding-left: 1.8rem;
  color: grey;
  margin: 0;
  padding: 0;
}

/* event block */
.rbc-event-content {
  color: rgb(245, 245, 246);
  background-color: rgb(187, 113, 218);
  border-color: rgb(187, 113, 218);
  font-weight: bold;
}
/* border of block */
.rbc-event.rbc-selected {
  background-color: rgb(187, 113, 218);
}

.rbc-event {
  color: rgb(187, 113, 218);
  background-color: rgb(187, 113, 218);
}
.rbc-event-label {
  width: 0rem !important;
  height: 0rem !important;
}

.rbc-off-range-bg {
  background-color: lightgray;
}

.routesContainer {
  display: flex;
  justify-content: center;
}

button {
  padding: 0px;
  margin: 3px;
  color: white !important;
  font-weight: bold !important;
}

.rbc-active {
  background-color: rgb(194, 111, 222) !important;
}

.rbc-btn-group {
  background-color: rgb(113, 172, 224);
  border-radius: 10px;
}

h1 {
  display: flex;
  align-content: flex-start !important;
  font-style: italic;
}

.task {
  text-align: center;
  padding: 0.2rem;
}

.startdate {
  text-align: center;
  padding: 0.2rem;
}

.enddate {
  text-align: center;
  padding: 0.2rem;
}

/* main */

.addtask {
  background-color: rgb(248, 157, 172);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.getquote {
  background-color: rgb(133, 210, 235);
  font-weight: bold;
}

.addpartner {
  background-color: rgb(148, 203, 39);
  font-weight: bold;
}

.rbc-calendar {
  margin: 0;
  background-color: whitesmoke;
  border-radius: 10px;
  min-width: 90rem !important;
}

.react-datepicker__month-container {
  z-index: 1000;
}
